@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


#root, html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: rgb(48, 48, 48);
  }
  
  .app {
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./img/bg.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .card {
    background: rgb(245, 241, 211);
    width: 40%;
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    padding: 2%;
    box-shadow: 10px 10px;
  }
  
  .heading {
    display: flex;
    align-items: center;
    height: 582px;
  }
  